# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Generated platform and IDE files
.metadata
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db
